<ion-header>
  <ion-toolbar>
    <ion-title>fortdetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="fortdetails(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-label>Select State</ion-label>
              <ion-select #c (ionChange)="getAllCities(c.value)" placeholder="Select One">
                <ion-select-option *ngFor="let state of states" [value]="state.id">{{state.state}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Select City</ion-label>
              <ion-select #city (ionChange)="getAllForts(city.value)" placeholder="Select One">
                <ion-select-option *ngFor="let city of cities" [value]="city.id">{{city.city}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Select Fort</ion-label>
              <ion-select placeholder="Select One">
                <ion-select-option *ngFor="let fort of forts" [value]="fort.id">{{fort.fortName}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input name="id" type="text" placeholder="id" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="locationDetails" type="text" placeholder="location details" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="history" type="text" placeholder="history" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="features" type="text" placeholder="features" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="controlledBy" type="text" placeholder="controlled by" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="transportFacility" type="text" placeholder="transport Facility" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="stayFacility" type="text" placeholder="stay Facility" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="nearByPlaces" type="text" placeholder="near By Places" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="typeOfFort" type="text" placeholder="type Of Fort" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="height" type="text" placeholder="height" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="mapUrl" type="text" placeholder="map Url" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Save</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
